*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: "roboto , san serife";
}
.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #CDE8D5; /* verde suave do fundo */
    padding: 22px 50px;
  }
  
  /* LOGO */

  
  .logo img {
    width: 250px;
    height: 10;
    padding: 2;
  }
  
  .logo .verde {
    color: #2A9D8F;
  }
  
  /* TEXTO CENTRAL */
  .titulo {
    text-align: center;
    font-family: "roboto";
    flex: 1;
  }
  
  .titulo h1 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: #2F3E46;
  }
  
  .titulo p {
    margin: 0;
    font-size: 20px;
    color: #2F3E46;
  }
  
  /* PERFIL */
  .perfil {
    display: flex;
    align-items: center;
  }
  
  .icone {
    width: 50px;
    height: 50px;
    border: 2px solid #2A9D8F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2A9D8F;
    font-size: 18px;
    cursor: pointer;
  }

  .topo {
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  }


  /*CARROCEL*/
  .carrossel {
    position: relative;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    height: 100%;
  }
  
  .slide {
    min-width: 100%;
    display: none;
  }
  
  .slide.active {
    display: block;
  }
  
  /* BOTÕES */
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .prev { left: 10px; }
  .next { right: 10px; }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
  }
  